h1 {
    text-align: center;
}
.cart-wrapper-div {
    margin-left: 6vw;
    min-height:67vh;
}
#cart-cartitems-cont{
    display: flex;
    flex-wrap: wrap;
}
#cart-summary-wrapper {
    border-top:1px solid grey;
    h5 {
        font-size:15px;
    }
}
@media only screen and (min-width: 768px) {
    .cart-wrapper-div {
        margin-left: 14vw;
        min-height:81.8vh;
    }
    #cart-cartitems-cont{
        display: flex;
        flex-wrap: wrap;
    }
}
@media only screen and (min-width: 1050px) {
    .cart-wrapper-div {
        margin-left: 6vw;
        min-height:78vh;
    }
}