#portfolio-cont {
    min-height: 100vh;
}
#portfolio-header {
    height:30vh;
    color:white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('https://dwrightportfolio.000webhostapp.com/Swerve/swerve-backdrop.jpeg');
}
#portfolio-nav {
    align-items: center;
    height: 20vh;
    background: antiquewhite;
    display: flex;
    justify-content: space-between;
    span:hover {
        cursor: pointer;
        color: black;
        text-decoration: underline;
    }
}

#header-text {
    height: 100%;
    width: 100%;
    flex-direction: column;
    display: flex;
    align-items: center;
    h2 {
        position: relative;
        top:40px;
        font-size:32px;
    }
    nav {
        position: relative;
        top:40px;
    }
}
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #09091c;
    button {
        background-color: inherit;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        transition: 0.3s;
        color:white;
        font-size: 17px;
        border-left: 1px solid white;
      }
      
  }
  .tablinks:hover {
    background-color: #ddd;
  }
  .tablinks.active {
    background-color: #ccc;
  }
.MuiBreadcrumbs-ol {
    color:white;
    font-size: 18px;
}
#modal {
    color:white;
    position: absolute;
    top: 0;
    padding-top:15%;
    width: 100%;
    height: 100%;
    display: none;
    h2 {
        text-decoration: underline;
    }
}
#item-cont {
    min-height:65vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    background-size: cover;
    a {
        width:90%;
        position: relative;
        margin: 10px auto 10px auto;
        height: 47vh;
        background-color: grey;
        box-shadow: 0px 0px 7px 2px grey;
    }
}
#item-cont {
    a:hover > div + #modal {
        display: block;
        opacity:1;
    }
}
#item-cont {
    a:hover > div {
        opacity: 0.2;
    }
}
@media only screen and (min-width: 600px) {
    #portfolio-cont {
        margin-left:6vw;
    }
    #item-cont {
        flex-direction: row;
        a {
            width: 30%;
        }
    }
}