#portfolio-cont {
    min-height: 100vh;
}
#product-title {
    font-weight: bold;
}
#portfolio-header {
    height:20vh;
    color:white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    // background-image: url('https://dwrightportfolio.000webhostapp.com/Swerve/swerve-backdrop.jpeg');
    background-image: url('https://images.wallpaperscraft.com/image/dark_spots_texture_background_50355_1600x1200.jpg');
}
#portfolio-nav {
    align-items: center;
    height: 20vh;
    background: antiquewhite;
    display: flex;
    justify-content: space-between;
    span:hover {
        cursor: pointer;
        color: black;
        text-decoration: underline;
    }
}

#header-text {
    height: 100%;
    width: 100%;
    flex-direction: column;
    display: flex;
    align-items: center;
    h2 {
        position: relative;
        top:15px;
        font-size:32px;
    }
    nav {
        position: relative;
        top:8px;
    }
}
.tab {
    overflow: hidden;
    text-align: center;
    background-color: grey;
    button {
        background-color: inherit;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        transition: 0.3s;
        color:white;
        font-size: 17px;
      }
      
  }
  .tablinks:hover {
    background-color: #ddd;
  }
  .tablinks.active {
    background-color: #ccc;
  }
.MuiBreadcrumbs-ol {
    color:white;
    font-size: 18px;
}
#modal {
    color:white;
    position: absolute;
    top: 0;
    text-align: center;
    padding-top:15%;
    width: 100%;
    height: 100%;
    display: none;
    h2 {
        text-decoration: underline;
    }
}
#item-cont {
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    background-size: cover;
    a {
        transition: all 0.5s;
        width: 45%;
        position: relative;
        color: black; 
        padding: 5px;
        margin: 10px auto;
        overflow: hidden;
        text-align: center;
    }
    #product-card {
        position: relative;
        img {
            min-height:22vh;
            width:100%;
        }
        p {
            font-size: 20px;
            margin: 5px 0;
        }
        p:nth-child(2){
            font-weight:bold
        }
    }
}
#item-cont {
    a:hover {
        opacity:0.1
    }
}
// #item-cont {
//     a:hover > div {
//         opacity: 0.8;
//     }
// }
@media only screen and (min-width: 600px) {
    #portfolio-cont {
        margin-left:14vw;
    }
    #item-cont {
        flex-direction: row;
        justify-content: center;
        a:hover {
            transform: translateY(-10px);
            background-color: lightgrey;
        }
        a {
            margin:6px;
            width:45%;
            min-height:47vh;
        }
        #product-card {
            height:40vh;
        }
    }
}
@media only screen and (min-width: 1050px) {
    #portfolio-cont {
        margin-left:6vw;
        #item-cont {
            justify-content: start;
            a {
                width:23%;
                height:55vh;
            }
            #product-card {
                height:60vh;
                img {
                    min-height: 44vh;
                    max-height: 44vh;
                }
            }
        }
    }
}