#portfolio-cont {
    min-height: 100vh;
}
#portfolio-header {
    height:30vh;
    color:white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    // background-image: url('https://dwrightportfolio.000webhostapp.com/Swerve/swerve-backdrop.jpeg');
    background-image: url('https://wallpaperaccess.com/full/318703.jpg');
}
#portfolio-nav {
    align-items: center;
    height: 20vh;
    background: antiquewhite;
    display: flex;
    justify-content: space-between;
    span:hover {
        cursor: pointer;
        color: black;
        text-decoration: underline;
    }
}

#header-text {
    height: 100%;
    width: 100%;
    flex-direction: column;
    display: flex;
    align-items: center;
    h2 {
        position: relative;
        top:40px;
        font-size:32px;
    }
    nav {
        position: relative;
        top:40px;
    }
}
.tab {
    overflow: hidden;
    text-align: center;
    background-color: grey;
    button {
        background-color: inherit;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        transition: 0.3s;
        color:white;
        font-size: 17px;
      }
      
  }
  .tablinks:hover {
    background-color: #ddd;
  }
  .tablinks.active {
    background-color: #ccc;
  }
.MuiBreadcrumbs-ol {
    color:white;
    font-size: 18px;
}
#modal {
    color:white;
    position: absolute;
    top: 0;
    text-align: center;
    padding-top:15%;
    width: 100%;
    height: 100%;
    display: none;
    h2 {
        text-decoration: underline;
    }
}
#item-cont {
    margin-top: 5px;
    min-height:65vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    background-size: cover;
    a {
        margin: auto;
        width:90%;
        position: relative;
        // margin: 10px auto 10px auto;
        min-height: 47vh;
        overflow: hidden;
    }
}
#item-cont {
    a:hover {
        opacity:0.1
    }
}
// #item-cont {
//     a:hover > div {
//         opacity: 0.8;
//     }
// }
@media only screen and (min-width: 600px) {
    #portfolio-cont {
        margin-left:6vw;
    }
    #item-cont {
        flex-direction: row;
        justify-content: start;
        a {
            margin:10px;
            width: 25%;
        }
    }
}