#product-nav {
    height: 20vh;
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('https://images.wallpaperscraft.com/image/dark_spots_texture_background_50355_1600x1200.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 10px;
}
#related-items-h3 {
    text-align: center;
    text-decoration: underline;
    font-size: 32px;
}
#sucess-message {
    opacity: 0.0;
}
#review-text {
    display: block;
}
.product-review-wrapper {
    border: 5px solid lightgrey;
    background-color: lightgrey;
    padding: 10px;
    min-height:18vh;
    border-radius: 10px;
    width: 80%;
    margin: 15px auto;
    .product-review-icon {
        width:100px;
        float: left;
        margin-right:15px;
    }
    #product-review-username {
        font-weight: bold;
        font-size: 18px;
    }
    p {
        font-size: 17px;
        color:white;
    }
}
#product-cont {
width:100vw;
display: flex;
flex-direction: column;
border-bottom:1px solid grey;
    #product-box1 {
        width:100vw;
        text-align: center;
        img {
            max-width:100%;
            margin:auto;
            height:60vh;
        }
    }
    #product-box2 {
        background-color: #fafafa;
        display: flex;
        flex-direction: column;
        width:90%;
        margin:20px auto 10px auto;
        
        #box1{
            border-bottom:1px solid lightgrey;
            padding:10px;
            height:120px;
            p {
                font-size:22px;
                font-weight: 700;
                margin-top: 10px;
                padding:0;
            }
        }
        #box2{
            min-height:100px;
            border-bottom:1px solid lightgrey;
            padding:10px;
             p {
                 font-size:16px;
             }
        }
        #box3{
            height:280px;
            padding:10px;
            #product-btns {
                height:100%;
                display: flex;
                flex-direction: column;
                #extra-styles-cont {
                    span {
                        font-size:24px;
                        margin-right:15px;
                    }
                    select {
                        border-color: #888888;
                        height: 40px;
                        width: 200px;
                        color:grey;
                        padding:5px;
                        margin-bottom:10px;
                    }
                }
                button {
                    width:100%;
                    margin:8px auto;
                }
                #product-counter {
                    height:15%;
                    font-size:22px;
                    border:1px solid lightgrey;
                    display: flex;
                    justify-content: space-between;
                    overflow: hidden;
                    // margin:10px;
                    #minus-btn, #add-btn {
                        height:100%;
                        width:30px;
                        cursor: pointer;
                        text-align: center;
                        padding-top:4px;
                        transition: background 0.3s;
                    }
                    #minus-btn:hover, #add-btn:hover{
                        background:lightgrey;
                    }
                }
            }
        }
    }
}
.modal-content2 {
    background-color: #fefefe;
    border-radius: 2%;
    // background-color: lightgrey;
    display: flex;
    flex-direction: column;
    margin: 3% auto 0 auto; /* 15% from the top and centered */
    height:85vh;
    width: 100%; /* Could be more or less, depending on screen size */
        textarea {
            border-radius: 5px;
        }
  }
  .close2 {
    color: #aaa;
    position: fixed;
    font-size: 42px;
    position:absolute;
    right:3vw;
    font-weight: bold;
  }
  .close2:hover{
    cursor: pointer;
    color:orangered
  }
  .button2:hover {
    transform: scale(1.2);
  }
  .button2 {
      transition: all 0.5s;
    margin-left: 5px;
    margin-right: 5px;
    font-family: 'Open Sans', sans-serif;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    position: relative;
    transition: all .3s ease;
    text-align: center;
    line-height: 1.42857143;
    border: 2px solid transparent;
    margin-bottom: 5px;
    margin-top: 45px;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    background-image: none;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    right: 10px;
    color: #ffffff;
    background-color: #0083ff;
    padding: 10px 10px;
    font-size: 10px;
  }
  h1.es-title {
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
    font-size: 26px;
    font-weight: 800;
    margin: 18px 0 20px 0;
    text-align: center;
    margin-bottom: 20px;
  }
  textarea {
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    font: inherit;
    margin: 10px 1px 10px 20px;
    overflow: auto;
    box-shadow: none;
    height: 120px;
    padding: 10px 16px;
    resize: none;
    width: 90%;
}
#related-main {
    display: flex;
    justify-content: space-around;
    a:hover {
        transform: translateY(-12px);
    }
    a {
        transition: all 0.5s;
        background-color: lightgrey;
        width: 24%;
        padding: 5px;
        margin:5px;
    }
}
@media only screen and (min-width: 600px) {
    #product-main-cont {
        margin-left: 14vw;
    }
    #product-cont {
        width:100%;
    }
    #product-cont #product-box1 {
        width:100%;
    }
}
@media only screen and (min-width: 1050px) {
    
    #related-main {
        display: flex;
        justify-content: space-around;
        a:hover {
            transform: translateY(-12px);
        }
        a {
            transition: all 0.5s;
        }
    }
    .modal-content2 {
     width:45%;   
    }
    .close2 {
        right:28vw;
    }
    #product-main-cont {
        margin-left:6vw;
    }
    #product-counter {
        width:45%;
        margin: auto;
    }
    #product-cont {
        flex-direction: row;
        width: 100%;
        border-bottom:none;
        #product-box1{
            width:48%;
            img {
                // width:100%;
                height:80vh;
            }
        }
        #product-box2 {
            width:50%;
            margin: 0;
            position: relative; 
            #product-btns {
                width:98%;
            }
            //     display: flex;
            //     flex-direction: column;
            //     border:2px solid red;
            //     #product-counter {
            //         display: flex;
            //         div:nth-child(1){
            //             border:1px solid yellow;
            //             height:100%;
            //         }
            //     }
            //     button{
            //         width:100%;
            //         margin: 5px auto;
            //     }
            // }
        }
    }
}