#item-cont {
    min-height:90vh;
}
#item-box-1-cont {
    display: flex;
    flex-direction: column;
}
#product-options {
    height:10vh;
    width:100%;
    border:1px solid red;
}
.item-box-1 {
    width:100%;
}
.arrows {
    font-size: 40px;
    margin:10px 35px;
}
.item-box-1 {
    img {
        box-shadow: 0px 0px 12px 2px grey;
        width: 100%;
        min-height: 40vh;
        max-height: 45vh;
    }
}
.item-box-1 {
    h1 {
        margin:10px 0 5px 0;
    }
}
#item-info {
    min-height:30vh;
    margin-top:40px;
}
.makeStyles-root-1 {
    background-color: #80808078 !important;
    margin-bottom: 20px;
}
.colors {
    margin:5px 5px;
}
@media only screen and (min-width: 600px) {
    .item-box-1 {
        width:50%;
        position: relative;
    }
    #item-box-1-cont {
        flex-direction: row;
        margin-left:6vw;
    }
    
    .item-box-1 {
        h1 {
            text-align: left;
            margin:20px 0 5px 0;
        }
    }
    
    #item-info {
        margin-top: 60px;
    }
    .item-box-1 {
        img {
            margin:auto;
            width: 90%;
            min-height: 80vh;
            max-height: 80vh;
        }
    }
}