#container {
    min-height:90vh;
        #home-landing-box{
            // border:2px solid red;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            height:60vh;
            background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../Pictures/IMG_2905.JPG");
            background-size: cover;
                h1 {
                    margin-top:0;
                    color:white;
                }
                hr {
                    border:1px solid black;
                    width:70%;
                }
        }
}
@keyframes worldSpin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
#home-qoute {
    height:40vh;
    display: flex;
    flex-direction: column;
        .quote-cont {
            height:20vh;
            display: flex;
            padding:10px;
                svg {
                    font-size: 70px;
                }
                .home-icon-intro1 {
                    width:30%;
                    position: relative;
                    top:5vh;
                    left:10px;
                }
                .home-icon-intro2 {
                    width:70%;
                        h5 {
                            font-weight: 800;
                            text-decoration: underline;
                        }
                        span {
                            font-size:18px;
                        }
                }
        }
}
.worldIcon {
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-name: worldSpin;
    animation-iteration-count: infinite;
}
@media only screen and (min-width: 600px) {
    #container {
        min-height:100vh;
        margin-left:6vw;
        #home-landing-box {
            height:150vh;
                hr {
                    width:25%;
                }
        }
    }
}