.home-quote {
    font-family: 'Condiment', cursive;
    text-align: center;
    font-size: 27px;
    margin: 0;
    color: black;
    text-decoration: underline;
}
#main-quote-div {
    margin:15px 0;
}
#container {
    min-height:90vh;
        #home-slideshow {
            height:40vh;
        }
        #home-landing-box{
            // border:2px solid red;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            height:60vh;
            background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../Pictures/IMG_2905.JPG");
            background-size: cover;
                h1 {
                    margin-top:0;
                    color:white;
                }
                hr {
                    border:1px solid black;
                    width:70%;
                }
        }
}
@keyframes worldSpin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
#home-qoute {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
        .quote-cont {
            height:20vh;
            display: flex;
            padding:10px;
                svg {
                    font-size: 70px;
                }
                .home-icon-intro1 {
                    width:30%;
                    position: relative;
                    top:5vh;
                    left:10px;
                }
                .home-icon-intro2 {
                    width:70%;
                        h5 {
                            font-weight: 800;
                            text-decoration: underline;
                        }
                        span {
                            font-size:18px;
                        }
                }
        }
}
.worldIcon {
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-name: worldSpin;
    animation-iteration-count: infinite;
}
#home-latest-items {
    display: flex;
    flex-direction: column;
}
// IPAD
@media only screen and (min-width: 768px) {
    #container {
        min-height:100vh;
        margin-left:14vw;
        #home-landing-box {
            height:150vh;
            background-position: center;  
            background-repeat: no-repeat;
                hr {
                    width:25%;
                }
        }
    }
    #home-qoute {
        flex-direction: row;
        padding: 5px;
        // border: 2px ridge red;
            .quote-cont {
                width:50%;
                
            }
    }
}
// Laptop
@media only screen and (min-width: 1050px) {
    #container {
        margin-left:6vw;
            
    }
    #home-qoute{
        .quote-cont {
            .home-icon-intro1 {
                width:20%;
            }
        }
    } 
    #home-latest-items {
        flex-direction: row;
    }
}