#contact-main {
    display: flex;
    flex-wrap: wrap;
    width: 95%;
    margin: auto;
    overflow: hidden;
}
#contact-cont {
    min-height: 90vh;
    h1 {
        margin:40px;
        text-decoration: underline;
    }
    textarea {
        font-size:20px;
        width: 100%;
        height:5vh;
        margin:10px 0;
        border:0;
        padding:40px;
        background-color: #f5f5f5;
    }
}
.input3 {
    width: 100%;
    input {
        font-size:20px;
        width: 100%;
        height:5vh;
        margin:10px 0;
        border:0;
        padding:40px;
        background-color: #f5f5f5;
    }
    input:focus {
        border: 1px solid #e8e8e8;
        background-color: #f5f5f5;
    }
}
@media only screen and (min-width: 600px) {
    #contact-cont {
        margin-left:6vw;
        margin-top:0;
        padding-top:10px;
        min-height:100vh;
        h1 {
            margin:20px 0 40px 0;
        }
    }
}