
#cart-item-primary-cont {
    text-align: center;
    img {
        width:60%
    }
    p:nth-child(2) {
        font-size: 24px;
        font-weight: bold;
        margin-top: 12px;
        margin-bottom:10px;
    }
    p:nth-child(3) {
        font-size: 20px;
        font-weight: bold;
        margin-top: 0;
    }
    #cart-item-delete-quantity-cont {
        height:5vh;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width:90%;
        span {
            font-size: 18px;
        }
        #cart-item-fai-trash-alt {
            font-size: 22px;
        }
        #cart-item-product-counter {
            height:5vh;
            display: flex;
            width:38%;
            justify-content: space-evenly;
            align-items: center;
            border-left: 1px solid grey; 
            border-right: 1px solid grey;
            #cart-item-quantity {
                margin: 5px;
                height: 100%;
                display: flex;
                align-items: center;
            }
            #minus-btn, #add-btn {
                height: 100%;
                // width: 30px;
                cursor: pointer;
                display: flex;
                transition: background 0.3s;
                align-items: center;
                justify-content: center;
            }
            #minus-btn:hover, #add-btn:hover{
                background:lightgrey;
            }
        }
    }
}

// Cart layout 1
// @media only screen and (min-width: 768px) {
//     #cart-item-primary-cont {
//         display: flex;
//         margin: 15px 10px;
//         height:20vh;
//         justify-content: space-between;
//         align-items: center;
//         #cart-item-delete-quantity-cont {
//             width:35%;
//             justify-content: space-between;
//             #cart-item-product-counter {
//                 width:60%;
//             }
//         }
//         img {
//             width:25%;
//             height: 100%;
//         }
//         p:nth-child(3) {
//             font-size: 20px;
//             font-weight: bold;
//             margin: 20px;
//         }
//     }
// }
// @media only screen and (min-width: 1050px) {
//     #cart-item-primary-cont {
//         height:25vh;
//         height: 40vh;
//         #cart-item-delete-quantity-cont {
//             justify-content: space-around;
//         }
//     }
// }

// cart layout 2 
@media only screen and (min-width: 768px) {
    #cart-item-primary-cont {
        width:30%;
        margin:15px 0;
        #cart-item-delete-quantity-cont {
            #cart-item-product-counter {
                width:45%;
            }
        }
    }
}
@media only screen and (min-width: 1050px) {

}
