#popular-cont {
    text-align: center;
    width:100%;
    margin: 10px 0;
    img {
        width:100%;
        height: 65vh;
    }
        p.type {
            font-size:25px;
        }
        
}
@media only screen and (min-width: 1200px) {
    #popular-cont {
        width:100%;
        height:auto;
        img {
            height:55vh;
        }
    }
}